extends layout

block content
	#header
		#logo
			img(src='/images/logoSmall.png')
			#nav
				ul
					li
						a(href='/home') Home
					li
						a(href='/color') Color
					li
						a(href='/places') Places
					li
						a(href='/newuser') New User

	#band
	#main
    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
        button#btnSubmit(type="submit") submit
